# Gradle cache & build output
.gradle/
build/

# IntelliJ IDEA
*.iml
.idea/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Java compiled classes
*.class

# Logfiles
*.log

# OS-spezifisch
.DS_Store
Thumbs.db
